<!DOCTYPE html>
<html>
    <head>
        <title>NEBULAE</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>portfolio}}
            <table border="0" width="100%">
                <tr>
                    <td width="72%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td class="table-td-stock" align="center">AÇÕES</td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%"></td>
                    <td width="25%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td colspan="2" class="table-td-stock" align="center">COMPOSIÇÃO</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="3"><br/></td></tr>
                <tr>
                    <td width="72%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td class="table-td-stock" align="center">FUNDOS IMOBILIÁRIOS (FIIs)</td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%"></td>
                    <td width="25%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td colspan="2" class="table-td-stock" align="center">COMPOSIÇÃO</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="3"><br/></td></tr>
                <tr>
                    <td width="72%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td class="table-td-stock" align="center">AÇÕES INTERNACIONAIS (STOCKs)</td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%"></td>
                    <td width="25%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td colspan="2" class="table-td-stock" align="center">COMPOSIÇÃO</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="3"><br/></td></tr>
                <tr>
                    <td width="72%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td class="table-td-stock" align="center">REAL ESTATE INVESTMENT TRUST (REITs)</td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%"></td>
                    <td width="25%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td colspan="2" class="table-td-stock" align="center">COMPOSIÇÃO</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        {{>footer}}
    </body>
</html>