<header>
    <div class="header-content">
        <table border="0" width="100%">
            <tr>
                <td width="850px"></td>
                <td width="75px" class="table-td-submenu">
                    <a href="/login" class="a-submenu">ENTRAR</a>
                </td>
                <td width="75px" class="table-td-submenu-left">
                    <a href="/login" class="a-submenu">CADASTRO</a>
                </td>
            </tr>
        </table>
    </div>
</header>