<header>
    <div class="header-content">
        <table border="0" width="100%">
            <tr>
                <td width="575px" aligh="left">
                    <form>
                        <input class="header-search-input" placeholder="">
                        <button class="header-search-button"><img src='/img/search.png' width='12' height='12'></button>
                    </form>
                </td>
                <td width="75px" class="table-td-submenu">
                    <a href="/user/dashboard" class="a-submenu">CARTEIRA</a>
                </td>
                <td width="75px" class="table-td-submenu-right">
                    <a href="#" class="a-submenu">SIMULADOR</a>
                </td>
                <td width="250px"></td>
                <td width="75px" class="table-td-submenu">
                    <a href="/login" class="a-submenu">ENTRAR</a>
                </td>
                <td width="100px" class="table-td-submenu-right">
                    <a href="/login" class="a-submenu">CADASTRO</a>
                </td>
            </tr>
        </table>

        <br />
        <br />

        <table border="0" width="100%">
            <tr>
                <td width="400px" class="table-td-submenu">
                    <a class="a-submenu">{{symbol}} - {{shortName}}</a>
                </td>
                <td width="75px" class="table-td-submenu-right">
                    <a href="#" class="a-submenu">COTAÇÃO</a>
                </td>
                <td width="75px" class="table-td-submenu-right">
                    <a href="#" class="a-submenu">INDICADORES</a>
                </td>
                <td width="75px" class="table-td-submenu-right">
                    <a href="#" class="a-submenu">BALANÇOS</a>
                </td>
                <td width="75px" class="table-td-submenu-right">
                    <a href="#" class="a-submenu">SETOR</a>
                </td>
                <td width="250px">
                </td>
                <td width="75px" class="table-td-submenu">
                    <a href="#" class="a-submenu">SEGUIR</a>
                </td>
                <td width="75px" class="table-td-submenu-right">
                    <a href="#" class="a-submenu">COMPARAR</a>
                </td>
            </tr>
        </table>
    </div>
</header>