<header>
    <a href="/user/dashboard">DASHBOARD</a>
    <a href="/user/portfolio">COMPOSIÇÃO</a>
    <a href="/user/transactions">TRANSAÇÕES</a>
    <a href="/user/rentability">RENTABILIDADE</a>
    <a href="/user/dividends">PROVENTOS</a>
    <a href="/user/favorites">FAVORITOS</a>
</header>